@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
body {
	background-color: #8da58f;
}

.divider{
    margin-top: 10%;
}
.main {
	text-align: center;
	margin: 7% auto;
	position: relative;
}

.reveal-text {
	font-size: 7rem;
	font-weight: 600;
	color: white;
	font-family: "Manrope", sans-serif;
	animation: marigo-reveal 2s linear forwards;
	
}

.subtitle {
	font-size: 1.5rem;
	font-weight: 200;
	word-spacing: 10px;
	letter-spacing: 0px;
	color: white;
    z-index: 0;
}

.hidden {
	opacity: 0;
}

.flower-img {
    filter: brightness(75%);
    z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 550px;
	height: 550px;
	margin-top: -275px; /* Half the height */
	margin-left: -275px;
}

@supports (-webkit-background-clip: text) or (background-clip: text) {
	.Letter {
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		background-image: url("/images/reveal_background.jpg");
		background-repeat: repeat-y;
		background-position-x: 100%;

		animation: reveal-bg 0.5s linear forwards;
	}
	.hide-text {
		font-size: 7rem;
		font-weight: 900;
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		background-image: url("/images/reveal_background.jpg");
		background-size: 100%;
		background-repeat: repeat-y;
		background-position-x: 100%;

		animation: hide-bg 0.75s linear forwards;
	}
}

@keyframes marigo-reveal {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes reveal-bg {
	0% {
		background-size: 0%;
	}
	50% {
		background-size: 50%;
	}

	100% {
		background-size: 100%;
	}
}

@keyframes hide-bg {
	0% {
		background-size: 100%;
	}
	50% {
		background-size: 50%;
	}

	100% {
		background-size: 0%;
	}
}
