body {
	/* background-color: #144552; */
	background-image: linear-gradient(#3d5a80, #e0fbfc);
	margin: 0;
}
#MyName {
	letter-spacing: 1rem;
	font-size: 3.25em;
	font-family: "Poppins", sans-serif;
	text-align: center;
	margin: 9.375rem auto 0 auto;
	background: -webkit-linear-gradient(#3d5a80, #e0fbfc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#iam {
	opacity: 0.5;
	color: #e0fbfc;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 350;
	margin: 5rem auto 9.375rem auto;
}
h1 {
	margin-top: 0;
}
h2 {
	font-family: "Roboto", sans-serif;
	font-size: 2.25rem;
	color: #005f73;
}
h3 {
	font-family: "Roboto", sans-serif;
	color: #005f73;
}
hr {
	width: 15%;
	border: 1rem dotted #e0fbfc;
	border-bottom: none;
	margin: 100px auto;
}
p {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	line-height: 2;
}
a{
	font-family: "Roboto", sans-serif;
	color: #e0fbfc;
	margin: 20px 30px;
	text-decoration: none;

}
a:hover{
	color: #9bf0e4;
}

.middle-h3 {
	
	margin: 5px auto 5px auto;
}
.middle-p {
	margin: 5px auto 5px auto;
}
.intro-p {
	width: 30%;
	font-size: 1.25rem;
	margin: 5px auto 5px auto;
	text-align: center;
	margin-bottom: 4rem;
}

.top-container {
	position: relative;
	padding-top: 8rem;
	padding-bottom: 8rem;

	/* background-color: #1B3A4B; */
}
.middle-container {
	/* background-color: #0B525B; */
	text-align: center;
	margin: 2rem auto 2rem auto;
}

.about-row{
	margin: 100px auto 100px auto;
	width: 50%;
	text-align: left;
}

.skill-row {
	margin: 100px auto 100px auto;
	width: 50%;
	text-align: left;
}

.code-img {
	width: 20%;
	float: left;
	margin-right: 20px;
}
.tech-img {
	width: 20%;
	float: right;
	margin: auto auto 20px 20px;
}

#img-div {
	margin: 3rem auto auto auto;
}

.bottom-container {
	background-color: #3d5a80;
	text-align: center;
	padding: 50px 0 10px;
}

#contact-message{
	width: 40%;
	margin: 20px auto 60px;
}


.btn {
	background: #e0fbfc;
	background-image: -webkit-linear-gradient(top, #e0fbfc, #2980b9);
	background-image: -moz-linear-gradient(top, #e0fbfc, #2980b9);
	background-image: -ms-linear-gradient(top, #e0fbfc, #2980b9);
	background-image: -o-linear-gradient(top, #e0fbfc, #2980b9);
	background-image: linear-gradient(to bottom, #e0fbfc, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Courier New;
	color: #ffffff;
	font-size: 25px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #e0fbfc;
	background-image: -webkit-linear-gradient(top, #e0fbfc, #3d5a80);
	background-image: -moz-linear-gradient(top, #e0fbfc, #3d5a80);
	background-image: -ms-linear-gradient(top, #e0fbfc, #3d5a80);
	background-image: -o-linear-gradient(top, #e0fbfc, #3d5a80);
	background-image: linear-gradient(to bottom, #e0fbfc, #3d5a80);
	text-decoration: none;
}

.copyright{
	color: #e0fbfc;
	font-size: 0.75rem;
	padding: 20px 0;
}
