body {
	background-color: white;
	color: black;
}
h1 {
	margin-top: 0;
}
h2 {
	font-family: "Roboto", sans-serif;
}
h3 {
	font-family: "Roboto", sans-serif;
}
hr {
	width: 15%;
	border: 1rem dotted black;
	border-bottom: none;
	margin: 100px auto;
}
p {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	line-height: 2;
}
a {
	
	font-family: "Roboto", sans-serif;
	color: white;
	margin: 20px 30px;
	text-decoration: none;
}
a:hover {
	color: #9bf0e4;
}

/* Smaller devices (544px and lower) */

@media (max-width: 544px) {
	p {
		font-size: 0.85rem;
	}
	h1 {
		font-size: 1.75rem;
	}
	#iam {
		font-size: 0.75rem;
		margin: 2rem auto 15rem;
	}
	.skill-row {
		width: 90%;
	}
	.about-row {
		width: 90%;
	}
	.face {
		width: 50%;
		height: auto;
	}
}

/* ---------------------------------------------------------------------- */

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
	p {
		font-size: 0.95rem;
	} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
	h1 {
		font-size: 2.75rem;
	}
	h2 {
		font-size: 1.25rem;
	}
	p {
		font-size: 1rem;
	} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	h1 {
		font-size: 3.25rem;
	}
	h2 {
		font-size: 2.25rem;
	}
	#iam {
		font-size: 1.25rem;
		margin: 2rem auto 12rem;
	}
	p {
		font-size: 1.25rem;
	} /*1rem = 16px*/
	.skill-row {
		width: 50%;
	}
	.about-row {
		width: 50%;
	}
}

.container-fluid {
	padding: 3% 15%;
}
/* Name */
#MyName {
	letter-spacing: 0.75rem;
	font-family: "Poppins", sans-serif;
	text-align: center;
	margin: 9.375rem auto 0 auto;
}

#iam {
	letter-spacing: 1rem;
	text-align: center;
	font-weight: 350;
}
.top-container {
	position: relative;
	padding-top: 8rem;
	padding-bottom: 8rem;

	/* background-color: #1B3A4B; */
}

/* Intro */
.intro-p {
	width: 50%;
	margin: 5px auto;
	text-align: center;
}
.intro-container {
	/* background-color: #0B525B; */
	text-align: center;
	margin: 2rem auto 2rem auto;
}
#img-div {
	margin: 3rem auto auto auto;
}
/* About me */
.middle-h2 {
	text-align: center;
	margin: 5px auto 5px auto;
}

.code-img {
	width: 15%;
	float: left;
	margin-right: 20px;
}

.about-row {
	margin: 100px auto 100px auto;

	text-align: left;
}

/* Skills */

.skill-row {
	margin: 100px auto 100px auto;

	text-align: left;
}

.tech-img {
	width: 20%;
	float: right;
	margin: auto auto 20px 20px;
}



#contact-message {
	text-align: center;
	width: 40%;
	margin: 20px auto 60px;
}
.contact-me{
	text-align: center;
}
.btn {
	background:    #000000;
border-radius: 30px;
	font-family: Courier New;
	color: #ffffff;
	font-size: 25px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: grey;
	color: #000000;
}
.bottom-container {
	background-color: black;
	text-align: center;
	padding: 50px 0 10px;
}
.copyright {
	color: white;
	font-size: 0.75rem;
	padding: 20px 0;
}
